Django==1.9.5
astroid==1.4.5
colorama==0.3.7
django-allauth==0.25.2
lazy-object-proxy==1.2.2
oauthlib==1.0.3
pylint==1.5.5
python-openid==2.2.5
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
wrapt==1.10.8
wsgiref==0.1.2
