{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3' style='text-align:left'>
    <div class="jumbotron">
	    <h1 style='text-align:center'>{% trans "Change Password" %}</h1><hr>

	    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
	        {% csrf_token %}
	        {{ form|crispy }}
	        <button class="btn btn-success btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
	    </form>
	</div>
</div>
{% endblock %}
