{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3' style='text-align:left'>
    <div class="jumbotron">
        <h1 style='text-align:center'>{% trans "Verify Your E-mail Address" %}</h1><hr>

    	<p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes. Click the button below to resend the verification email.{% endblocktrans %}</p>
    	<button class="btn btn-success btn-block" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
    </div>
</div>

{% endblock %}
