{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Welcome | {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="col-sm-7 col-sm-offset-3 main">
{% else %}
<div class="col-sm-8 col-sm-offset-2 main">
{% endif %}
    <div class="jumbotron">
        <h1>Contact Us</h1>

        <form method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
            {{ form|crispy }}
            <input type='submit' class='btn btn-success btn-block' value='Contact Us' />
        </form>
    </div>
</div>

{% endblock content %}